@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-content {
  background-color: white;
  border-radius: 5px;
}

.tippy-box[data-placement^="top"] .tippy-arrow,
.tippy-box[data-placement^="bottom"] .tippy-arrow,
.tippy-box[data-placement^="left"] .tippy-arrow,
.tippy-box[data-placement^="right"] .tippy-arrow {
  display: none;
}
/* Custom CSS for active menu item */
/* .ant-menu-dark .ant-menu-item-selected a {
  color: #e3e3e3;
} */

/* Optional: Customize the background of the active item */
/* .ant-menu-dark .ant-menu-item-selected {
  background-color: #e11e48; 
} */
/* 
.ant-table-thead > tr > th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
} */
