@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: linear-gradient(to right, #0b0808, #16110c);
}

.swiper-button-next {
  background: white;
  font-size: 10px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
  color: black !important;
  right: 5% !important;
}

.swiper-button-prev {
  background: white;
  font-size: 10px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
  color: black !important;
  left: 5% !important;
}

.swiper-button-prev::after {
  font-size: 20px !important;
  position: relative;
  right: 2%;
}

.swiper-button-next::after {
  font-size: 20px !important;
  position: relative;
  left: 2%;
}

.tippy-content {
  background-color: white;
  border-radius: 5px;
}

.tippy-box[data-placement^="top"] .tippy-arrow,
.tippy-box[data-placement^="bottom"] .tippy-arrow,
.tippy-box[data-placement^="left"] .tippy-arrow,
.tippy-box[data-placement^="right"] .tippy-arrow {
  display: none;
}

/* Container that wraps the image and applies the overlay */
.overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Style for the overlay */
.overlay-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.604); /* Black color with 50% opacity */
  z-index: 1;
}

/* Ensuring the image sits below the overlay */
.overlay-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.image1 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01Mi43LC02Mi4xQzY4LjIsLTQ5LjgsODAuNywtMzMuMSw4NC40LC0xNC41Qzg4LjEsNC4xLDgzLDI0LjUsNzEuNSwzOC4zQzYwLDUyLjEsNDIuMSw1OS4zLDIzLjYsNjYuOUM1LjEsNzQuNiwtMTQsODIuNywtMjcuOSw3Ny4zQy00MS43LDcxLjksLTUwLjQsNTMsLTU1LjUsMzZDLTYwLjYsMTksLTYyLjIsMy45LC02Mi42LC0xNEMtNjMsLTMxLjksLTYyLjIsLTUyLjUsLTUxLjYsLTY1LjhDLTQwLjksLTc5LC0yMC41LC04NC44LC0wLjksLTgzLjdDMTguNiwtODIuNiwzNy4yLC03NC41LDUyLjcsLTYyLjFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KPC9zdmc+Cg==);
}

.image2 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01MiwtNzMuNUM2NS4yLC02MS45LDcyLjIsLTQzLjgsNzcuOCwtMjUuNUM4My4zLC03LjMsODcuNCwxMS4yLDgxLjEsMjVDNzQuNywzOC43LDU4LDQ3LjcsNDIuNyw1NC4zQzI3LjUsNjAuOCwxMy43LDY0LjksMC4zLDY0LjVDLTEzLjIsNjQuMiwtMjYuNCw1OS4zLC00MS41LDUyLjdDLTU2LjcsNDYuMiwtNzMuOCwzNy44LC03OC4yLDI1LjJDLTgyLjcsMTIuNSwtNzQuNSwtNC41LC02NS45LC0xOC40Qy01Ny4yLC0zMi4zLC00OC4xLC00MywtMzcuMSwtNTUuM0MtMjYsLTY3LjYsLTEzLC04MS41LDMuMiwtODUuOUMxOS40LC05MC4zLDM4LjcsLTg1LjEsNTIsLTczLjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KPC9zdmc+Cg==);
}
.image3 {
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00Ny40LC02My42QzYxLjMsLTU1LDcyLjUsLTQxLjEsNzcsLTI1LjVDODEuNCwtOS44LDc5LDcuNSw3NC41LDI1QzY5LjksNDIuNCw2My4xLDU5LjksNTAuMyw2Ny41QzM3LjUsNzUuMSwxOC43LDcyLjgsMi42LDY5LjJDLTEzLjUsNjUuNiwtMjcsNjAuNiwtNDIuMiw1My44Qy01Ny41LDQ3LC03NC41LDM4LjQsLTgzLjUsMjRDLTkyLjUsOS42LC05My40LC0xMC41LC04NS41LC0yNS42Qy03Ny42LC00MC42LC02MC43LC01MC41LC00NSwtNTguNUMtMjkuMywtNjYuNSwtMTQuNiwtNzIuNSwxLC03My45QzE2LjcsLTc1LjMsMzMuNCwtNzIuMiw0Ny40LC02My42WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
}
