@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-content {
  background-color: white;
  border-radius: 5px;
}

.tippy-box[data-placement^="top"] .tippy-arrow,
.tippy-box[data-placement^="bottom"] .tippy-arrow,
.tippy-box[data-placement^="left"] .tippy-arrow,
.tippy-box[data-placement^="right"] .tippy-arrow {
  display: none;
}
