.swiper-button-next {
  background: white;
  height: 32px !important;
  width: 32px !important;
  border-radius: 100%;
  color: black !important;
  right: 5% !important;
  transform: translateY(50%);
}

.swiper-button-prev {
  background: white;
  height: 32px !important;
  width: 32px !important;
  border-radius: 100%;
  color: black !important;
  left: 5% !important;
  transform: translateY(50%);
}

.swiper-button-prev::after {
  font-size: 15px !important;
  position: relative;
  right: 2%;
}

.swiper-button-next::after {
  font-size: 15px !important;
  position: relative;
  left: 2%;
}
